<div id="section wrap">
	<%= render 'layouts/header' %> 
	<div class="container mainBody">
		<div class="row">
			<div class="page-header">
			  <h3>You've provided input for all the available options.</h3>
			  <h3>We'll let you know in the next few days if your friends have provided input and whether you have any preferences in common.</h3>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<h3>Connect with your friends to find more preferences in common:</h2>
			</div>
			<div class="row inviteOthers">
				<% if @facebookuser %>
					<%= render 'layouts/emailinvite' %>
					<div class="col-sm-12 col-md-2 fbHide orConnector">
						<h5 class="text-center">- or -</h5>
					</div>
					<%= render 'layouts/altfbjoin' %>
				<% else %>
					<%= render 'layouts/emailinvite' %>
					<div class="col-sm-12 col-md-2 fbHide orConnector">
						<h5 class="text-center">- or -</h5>
					</div>
					<%= render 'layouts/fbjoin' %>
				<% end %>
			</div>
		</div>
	</div>
</div>
<%= render 'layouts/footer' %>